body {
    margin: 0;
}

line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
    opacity: 0.7;
}

.info {
  text-align: center;
  display: inline-block;
}

#website {
  padding-left:20px;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}

#currentMode {
  font-size: 24px;
}

#lineMap {
        height: 300px;
        width: 705px;
        border:1px dashed #999;
        overflow-y: scroll;
        overflow-x: scroll; 
        background:  whitesmoke
      }


    /* Sliders CSS*/
.switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 60px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
}
/* End Slider code obtained from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #add8e6;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #add8e6;
    stroke: #fff;
}
.selected {
    fill: #003366;
}

.selectedNav {
  fill: #F5B000;
}

.navCircle {
  stroke: gray;
  stroke-width: 1px;
}
.selectedNavGroup .navCircle {
    fill: #F5B000;
}    

text {
    font-family:"arial";
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.HMtooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/*
#chart {
    margin: 20px;
    padding: 5px;
}
*/

/* CONTENT */

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}

#heatmap-controls button {
    margin-right: 5px;
}

#heatmap {
    padding: 5px;

    font-size: 10px;
    font-family: arial;
}

#heatmap thead th {
    /* Safari */
    -webkit-transform: rotate(-45deg);

    /* Firefox */
    -moz-transform: rotate(-45deg);

    /* IE */
    -ms-transform: rotate(-45deg);

    /* Opera */
    -o-transform: rotate(-45deg);

    height: 40px;
}

/* https://stackoverflow.com/a/4407335 */
#heatmap th {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#heatmap td, #heatmap th {
  width: 40px;
}

#heatmap .hasSelection {
  color: rgba(0, 0, 0, 0.4);
}

#heatmap th.selected {
  color: black;
}

